html{font-size: 12px;}
.top-banner{width: 100%;height:100%;position:relative;overflow: hidden;}

/*============================top-banner======================*/
/*--------------------------------top-----------------------------*/
.top-banner .top{/*#e5e5e5*/
	width: 100%;
	position:absolute;
	left:0;top:0;
	z-index: 100
}
.top-banner .top p{
	text-align: center;
	color:rgba(299,299,299,1);
	width: 100%;
	font:1.6em/1.7em "宋体";
	background:rgba(69,166,21,0.3);
}
.top-banner .top>div{background:rgba(299,299,299,0.7);}
.top-banner .top>div>div.middle>span{font:1.3em "微软雅黑";color:rgba(69,166,21,1)}
.top-banner .top>div>div.middle>a{margin-left: 1.5em;padding:0 1em}
.top-banner .top>div>div.middle>a,.top-banner .top .middle>div>span{margin-left:3em;height:1.6em;font:1.3em "微软雅黑";}
.top-banner .top>div>div.middle a{color:#373131;font:1.5em/1.6em "微软雅黑";}
.top-banner .top>div>div.middle a:hover{color:#ccc;background:rgba(82,111,57,1)}
.top-banner .top>div>div.middle .top-ul{float:right;width:40%;}
.top-banner .top>div>div.middle .top-ul a{width:100%;height: 100%;display: inline-block;}
.top-banner .top>div>div.middle .top-ul>li{float:left;position: relative;width:33%;height: 100%;text-align: center;box-sizing:border-box;}
.top-banner .top>div>div.middle .top-ul>li:hover>.top-two{display:block;}
.top-banner .top>div>div.middle .top-ul>li .top-two{
	position: absolute;
	top:100%;
	width: 100%;
	left: 0em;
	display: none;
	border-radius: 0 0 0.5em 0.5em;
	background: rgba(114,178,82,0.5);
	-webkit-box-shadow: 0.5em 0.5em 0.5em #e5e5e5;  
	-moz-box-shadow: 0.5em 0.5em 0.5em #e5e5e5;  
	box-shadow: 0.5em 0.5em 0.5em #e5e5e5;
}
.top-banner .top form{display: block;width:60%;border-radius: 2em;background:rgba(69,166,21,0.5);text-align: center;padding:1em 0;margin:2em auto; }
.top-banner .top form input,.top-banner .top form label{display: inline-block;font-size:1.8em;}
.top-banner .top form input{width:60%;border-radius: 0.5em;}
.top-banner .top form label{color: white;margin-right: 1em;}
.top-banner .top
/*---------------------------------Acart----------------------------*/
#cc{position: absolute;top:0;background:red;height:3em;text-align: center;display: inline-block;width: 100%;}
#cc>span{display:inline-block;width: 0.6em;height: 0.6em;border-radius: 50%;margin-left:0.5em;border:0.1em solid #ccc;background: rgba(255,255,255,0.2);margin-top: 0.5em;}
.top-banner .Acar{position: relative;top:0;left:0;height:50em;width: 100%;}
.top-banner .Acar .carousel{
	height:100%;
	width:500%;
	position: absolute;
	top:0;left:0;
	
}
#cc>span.white{background:white;}
.top-banner .Acar .carousel li{float:left;height:100%;width:20%;}
.top-banner .Acar .carousel li>img{width:100%;height:100%}
.top-banner .banner{top:0;}
/*--------------------------------banner-----------------------------*/
.top-banner .banner{
	width:100%;
	background-size:  100% 100%;
	position:absolute;
	top:100%;left: 0;
	transform:translateY(-100%);
}
.top-banner .banner>img{width:100%;position: absolute;bottom: 0;}
.top-banner .banner .middle ul{width: 80%;height:100%;margin: 0 auto;}
.top-banner .banner .middle ul li{float:left;width:20%;text-align: center;height: 100%;}
.top-banner .banner .middle ul li a{
	display: inline-block;
	color: white;width: 100%;
	height: 100%;
	font:1.7em/3em "微软雅黑";
	box-sizing:border-box;
	border-radius: 0.5em;
}
.top-banner .banner .middle ul li a.select{background: white;color:#4ca81e;}
.top-banner .banner .middle ul li a:hover{background:#399c07;}
/*=============================content===============================*/
.content{width: 100%;background: url(../images/background.png);position: relative;}
.content>div{
	background: rgba(255,255,255,0.95);height: 100%;
	box-shadow:-10px 0 10px #ccc, /*左边阴影*/  
    			10px 0 10px #ccc, /*右边阴影*/  
    			0 10px 10px #ccc; /*底边阴影*/ /*0 -10px 10px blue, /*顶部阴影*/ 
    -webkit-box-shadow:-10px 0 10px #ccc, /*左边阴影*/  
    			10px 0 10px #ccc, /*右边阴影*/  
    			0 10px 10px #ccc; /*底边阴影*/ 
    -moz-box-shadow:-10px 0 10px #ccc, /*左边阴影*/  
    			10px 0 10px #ccc, /*右边阴影*/  
    			0 10px 10px #ccc; /*底边阴影*/
}

/*------------------------------contentInner----------------------------*/
.content .middle .contentInner{width: 100%;padding-top:3em;}
.content .middle .contentInner .show{width:60%;height:30em;margin-left:1em;display: inline-block;border-radius: 0.3em;overflow: hidden;border:0.2em solid #b7eda6;}
.content .middle .contentInner>.p,.content .middle .contentInner>.show{vertical-align: middle;}
.content .middle .contentInner .show img{width: 100%;height:100%}
.content .middle .contentInner>.p{float:right;width:35%;border:0.2em solid #dbdbda;margin-right:1em ;box-sizing:border-box;padding:1em;color: #75736f;border-radius: 0.5em;height:30em;overflow: hidden;}
.content .middle .contentInner>.p>p{width: 100%;height: 100%;font:1.5em/1.6em "微软雅黑";text-indent:2em;position: relative;}
.content .middle .contentInner>.p>p>span:nth-child(1){display:block;width: 100%;text-align: center;font: 1.7em/2em "微软雅黑";color:#736a5c;}
.content .middle .contentInner>.p>p>span:nth-child(2){position: absolute;display: inline-block;top:-2em;left:-1em;width:6em;z-index:-1;}
.content .middle .contentInner>.p>p>span:nth-child(2)>img{width: 100%;}
.content .middle>div:nth-child(2)>.p{float: left;margin-left:1em;}
/*-----------------------------contentMid-----------------------------------*/
 #skin{position: absolute;right:4%;top:-5em;display: inline-block;width:5em;height:6em;border-radius:50%;overflow: hidden;}
#skin>img{width: 100%;height: 100%}
/*----------------------------------contentMid-left----------------------------*/
.content .middle .contentMid{width: 100%;margin:5em 0;position: relative;padding-bottom:5em;padding-top:3px;}
.content .middle .contentMid-left{width:70%;margin-left: 1em;border-radius: 0.3em;overflow: hidden;border:0.2em solid #b7eda6;display: inline-block;vertical-align: middle;}
.content .middle .contentMid-left ul{height:40em;width: 100%;border:0.2em solid #dbdbda;}
.content .middle .contentMid-left ul li{float:left;width:10%;height:100%;cursor: pointer;box-sizing:border-box;}
.content .middle .contentMid-left ul li>img{width:100%;border:0.2em solid white;height: 100%;vertical-align: middle;}
.content .middle .contentMid-left ul li.hover{width:60%;}
.content .middle .contentMid-left ul li.hover>img{width:15%;height:100%;}
.content .middle .contentMid-left ul li.hover>div{display: inline-block;}
.content .middle .contentMid-left ul li>div{width:80%;height:100%;display: none;border:0.2em solid #b7eda6;vertical-align: middle;font-size:1.5em;box-sizing:border-box;padding: 0.5em;overflow: hidden;line-height:1.5em;text-indent: 2em;}
.content .middle .contentMid-left ul li>div>span{color:#b7eda6;font-weight: bold;}
/*----------------------content-right-----------------------------*/
.content .middle .contentMid-right{width: 25%;display: inline-block;border:0.4em solid #dbdbda;height: 40em;vertical-align: middle;margin-left: 1em;border-radius: 0.4em;}
.content .middle .contentMid-right ul{width:100%;height: 100%;height: 40em;overflow: hidden;}
.content .middle .contentMid-right ul>li{width: 100%;text-indent: 2em;background:url(../images/bg2.png) no-repeat left center;background-size:auto 100%;}
.content .middle .contentMid-right ul>li:nth-child(1){font:2em/2em "微软雅黑";color: #b7edab;text-indent: 0.5em;background-size:100% auto; }
.content .middle .contentMid-right ul>li>a{display:block;width: 100%;font:1.4em/2em "微软雅黑";color: #75736f;overflow: hidden;height:2em;}
.content .middle .contentMid-right ul>li>a:hover{background:#b7eda6;transform:scale(1.3) translateX(2em);color: white}
.content .middle .contentMid-right ul>li>a.change{color:#71b150;font:1.6em/1.8em "微软雅黑";}
/*============================换肤的显示======================*/
#ss{position: fixed;top:0;left: 0;width:100%;height:100%;background:rgba(255,255,255,0.7);display: none;z-index:100}
#ss>div{position:absolute;top:0;left: 0;right:0;bottom: 0;width:60em;height:20em;margin: auto;}
#ss>div>a{display: inline-block;width:10em;height:10em; margin-left:1em;position: relative;border-radius: 10%;}
#ss>div>a:nth-child(1){background: green }
#ss>div>a:nth-child(2){background:purple }
#ss>div>a:nth-child(3){background: red}
#ss>div>a span{display: none;}
#ss>div>a span.selected{
	color:#fff;
	position: absolute;
	top:0;left: 0;right:0;bottom: 0;
	background: rgba(255,255,255,0.7);
	text-align: center;
	font: 2em/5em "微软雅黑";
	display: block;
}
#ss>div>button{color:#333;background: white;display: block;padding: 1em 3em;font-weight: bold;font-size:1.6em;border-radius:20%; }
/*====================响应式==========================*/
.footer{width: 100%;
	background: linear-gradient(to bottom,#71b150 0%,#425040 100%);
}
.footer>.div{display:inline-block;width: 24.5%;vertical-align: middle;}
.footer>.div:nth-child(1){text-align: center;}
.footer>.div>img{width: 90%;height: 100%;}
.footer>.div>a,.footer>.div>span{display: block;width: 100%;text-indent: 3em}
.footer>.div>a{font:1.3em/1.8em "微软雅黑";color:#ccc;display: block;}
.footer>.div>a:hover{color:#d7cebd}
.footer>.div>span{font:1.5em/2em "微软雅黑";color: #d7cebd}
.footer>p{text-align: center;padding-bottom: 3em;font-size: 14px;}
@media screen and (max-width:1150px){
	.top-banner .top .middle>div>a{display: none;}
	.top-banner .top .middle{height:0.4em;overflow: hidden;}
	.top-banner .banner .middle ul{width: 100%;}
	.top-banner .banner{background-size: 100% auto;}
}
@media screen and (max-width:950px){
	.content .middle .contentInner>.p,.content .middle .contentInner>.show{margin-left: 0;width: 100%;}
	.content .middle .contentInner{padding-top:0.2em}
	.content .middle .contentMid,.content .middle .contentInner{width: 100%}
	.top-banner .top .middle>span,.top-banner .top .middle>a{display:none;}
	.middle{width:100%}
	.content{width: 100%;}
	.footer>.div{width:100%;border-bottom:0.1em dotted #ccc;text-align: center;}
	.footer>.div>a,.footer>.div>span{text-indent: 0;}
	.top-banner .top .middle>div>span{display: none;}
	.content .middle .contentMid-left,.content .middle .contentMid-right{width:100%;margin-left: 0;}
	.top-banner .banner{background-origin:center;background-size: auto auto}
	#cc{text-align: center;background:rgba(69,166,21,0.5)}
	.top-banner .banner .middle ul li{width: 100%}
	.content .middle>div:nth-child(2)>.p{margin-left: 0}
	.content .middle .contentMid{margin-top: 0.1em;margin-bottom: 0.2em;}
	.content{margin-bottom: 0.2em;}
	.content .middle .contentMid-right ul{margin: 0 auto;width:90%;}
	.content .middle .contentMid-right ul li{text-align: center;}
	.content .middle .contentMid-right ul li:nth-child(1){text-align: left;}
	.content .middle .contentInner>.p{margin-right:0;}
	.top-banner .top form{display: none;}
	.pcontent{width:100%}
}

